body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    width:80%;
    margin: auto;
    margin-top:50px;
}
.issue-list{
    padding:0;
    list-style: none;

}

.issue {
    border-bottom: 1px grey solid;
    padding:10px 0;
}

.issue-container {
  width:70%;
  margin: auto;
}

.issue-body img {
  max-width: 100%;
}

pre {
  background:lightblue;
}

